.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userDetails {
  margin-left: 10px;
}
.userInfoText {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.userRole {
  color: var(--gray-color-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}
.badge {
  display: flex;
  align-items: center;

  border-radius: 6px;
  padding: 6px 10px;
  background-color: #f5f5f5;
  color: #72757c;
  font-weight: 600;
  font-size: 10px;

  text-transform: uppercase;
}

/* sizes */

.nameMD {
  font-size: 16px;
}
.nameSM {
  font-size: 14px;
}
