.progressBar {
  background: #f4f1fd;
  height: 10px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  width: 50%;
}

.progress {
  background: var(--primary-color);
  height: 10px;
  border-radius: 4px;
}

.progressNumber {
  color: var(--primary-color);

  font-weight: 700;
  font-size: 8px;
}
