.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.iconContainer {
  margin-bottom: 16px;
  background: #fde4e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.icon {
  font-size: 35px;
  color: #ef3535;
}

.title {
  color: #272727;
  font-size: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}

.message {
  color: #505051;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  text-transform: lowercase;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.submitButton,
.cancelButton {
  min-width: 120px;
  text-transform: none;

  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}

.submitButton {
  color: #fff !important;
  background-color: #ef3535 !important;
}

.cancelButton {
  color: #666;
  border-color: #ccc;
}
.form {
  width: 100%;
}
.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.label {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
  color: #505051;

  font-size: 12px;
}

.textField {
  margin-bottom: 10px;
}
.textField textarea::placeholder {
  font-size: 12px;
  color: #686868;
}
