.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.userImg {
  object-fit: cover;
}
.userImg,
.userInitials {
  border-radius: 16px;
}
.fullRadius {
  border-radius: 50%;
}

.userInitials {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #362396;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
}

/* sizes */

.imgLG {
  width: 70px;
  height: 70px !important;
  font-size: 20px;
}
.imgMD {
  width: 50px;
  height: 50px !important;
  font-size: 14px;
}
.imgSM {
  width: 30px;
  height: 30px !important;
  font-size: 12px;
}
