/* ////////////////////////card///////////////////////// */

/* Card Styling */

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  height: 40px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  cursor: pointer;
}

.title:hover {
  /* color: #3d29a1 !important; */
  text-decoration: underline;
}

.editBtn {
  all: unset;
  border-radius: 30%;
  padding: 6px 10px;
  background-color: var(--primary-color-l);
  font-size: 1rem;
  color: var(--primary-color-d);
}

.editBtn:hover {
  cursor: pointer;
}

.editBtn:disabled {
  background-color: #f5f5f5;
  color: #686868;
  cursor: not-allowed;
}

.description {
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.date {
  font-size: 12px;
  color: #888;
  margin-bottom: 0;
}
