.container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.imageContainer {
  width: 400px;
  height: 350px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}
.icon {
  width: 28px;
  height: 28px;
  /* font-size: 10px; */
  color: #4e3da3;
  background-color: #efeef8;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
