.title {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-transform: capitalize;
  color: #272727;
  margin: 0 0 10px 0 !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px !important;
}
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter {
  /* width: 250px; */
}

.menuItem {
  text-transform: capitalize;
  font-size: 14px !important;
}
