.container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-top: auto;
  min-height: 245px;
}

.title {
  color: #9da3af;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
}

.starsContainer {
  display: flex;
  justify-content: center;
}
.stars {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.star {
  font-size: 24px;
  color: #e0e0e0;
  cursor: pointer;
  margin: 0 3px;
  transition: color 0.2s ease;
}

.star.active {
  color: #705ccf;
}

.commentInput {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.commentInput:focus {
  outline: none;
  border-color: #705ccf;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: center;
}
.errorMessage {
  color: #ef3535;
  margin: 10px 0;
  text-align: center;
}

.thankYouMessage {
  text-align: center;
  color: #4caf50;
  font-weight: 500;
  padding: 20px 0;
}
