.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.iconContainer {
  margin-bottom: 16px;
  background: #fde4e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.icon {
  font-size: 25px;
  color: #ef3535;
}

.title {
  color: #272727;
  font-size: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}
.message {
  color: #505051;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  text-transform: lowercase;
}
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter {
  width: 200px;
}
.buttonContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.submitButton,
.cancelButton {
  min-width: 120px;
  text-transform: none;

  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}

.submitButton {
  color: #fff !important;
  background-color: #ef3535 !important;
}

.submitButton:disabled {
  background-color: #aaaaaa !important;
}

.cancelButton {
  color: #666;
  border-color: #ccc;
}
.objective {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.objective:not(:last-child) {
  border-bottom: 1px solid #f6f6f7;
}
