.breadcrumbs li a,
.breadcrumbs li span,
.breadcrumbs .pageName {
  color: #686868 !important;
}
.breadcrumbs li:nth-of-type(odd) {
  background: #fafafa;
  border-radius: 24px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #272727;
  margin: 10px 0 !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px !important;
}
.newObj {
  all: unset;
  gap: 4px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #705ccf;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  width: 150px;
  height: 44px;
  cursor: pointer;
}
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter {
  width: 200px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemText {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  gap: 10px;
}
.progressNumber {
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.15px;
  vertical-align: middle;
  text-transform: capitalize;
  color: #0f0038;
}
.icon {
  filter: grayscale(1) brightness(0.5); /* makes it gray */
  padding: 10px;
  cursor: pointer;
}
.icon:hover {
  filter: none; /* removes the gray filter */
}
