.achievementCard {
  background: white;
  border: 1.5px solid #E8E9EB;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(232, 233, 235, 0.8);
  transition: all 0.2s ease;
  flex: 1;
}

.achTitle {

}

.achDate {
  font-size: 12px;
  color: #64748b;
}

.achDesc {
  color: #272727;
  line-height: 1.6;
  flex-grow: 1;
  
  /* Limit the width */
  max-width: 100%; /* or set a fixed max width like 400px */
  
  /* Multi-line ellipsis */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.attachmentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 7px 15px;

  width: fit-content;
  background: #e4e7e961;
  cursor: pointer;
  transition: all 0.2s ease;
}

.attachmentItem:hover {
  background: #f8fafc;
}

.attachmentInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.attachIcon {
}

.fileName {
  color: #272727;

  /* long name handling */
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
