.hederContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.newObj {
  all: unset;
  gap: 4px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #705ccf;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  width: 150px;
  height: 44px;
}
.overviewContainer {
  display: flex;
    gap: 10px;
    flex-wrap: wrap;
}