.statusLabelContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}
.textOnly {
  width: auto;
  height: auto;
}
.textCenter {
  justify-content: center;
}

.withDot {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  /* left: 15px; */
  transform: translate(-50%, -50%);
}
.withDot ~ .statusLabel {
  left: 8px;
}
.statusLabel {
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 1px;
  position: relative;
  /* font-size: 12px; */
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.fixedSpace {
  width: max-content;
  padding: 0 10px;
  /* padding: 0 12px; */
  /* height: 35px; */
  height: 30px;
}
