.breadcrumbs li a,
.breadcrumbs li span,
.breadcrumbs .pageName,
.breadcrumbsLink {
  color: #686868 !important;
}
.breadcrumbsLink {
  cursor: pointer;
}
.breadcrumbs li:nth-of-type(odd) {
  background: #fafafa;
  border-radius: 24px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #272727;
  margin: 10px 0 !important;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
