.inputTitle {
  font-size: 12px !important;
  line-height: 24px !important;
  color: #686868;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px !important;
  margin-top: 6px !important;
  text-transform: capitalize !important;
}
.inputTitle span {
  font-weight: 400;
  font-size: 12px;
  /* font-size: 10px; */
  text-transform: lowercase;
}

.formControl {
  all: unset;
  /* min-height: 70px !important; */
  margin-bottom: 12px !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.15px;
  color: #272727 !important;
}
.formControl:last-child {
  margin-bottom: 0 !important;
}

.formControl input,
.formControl textarea {
  text-transform: initial;
}
.formControl input::placeholder,
.formControl textarea::placeholder {
  font-size: 12px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.row {
  display: flex;
  gap: 20px;
}

.row .formGroup {
  flex: 1;
}

.row {
  display: flex;
  gap: 20px;
}

.row .formGroup {
  flex: 1;
}

.tag {
  background: #f7f6fb;
  color: #362396;
  font-size: 10px;
  font-weight: 500;
  padding: 0px 10px;
  text-transform: capitalize !important;
  /* padding: 0px 14px; */
  border-radius: 16px;
  /* margin-left: 6px; */
}

.sendbtn {
  color: #705ccf;
  background-color: #f7f6fb;
  padding: 2px 8px;
  font-size: 0.5rem !important;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item {
  border-radius: 6px;
  background-color: #fcfbfc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.list:last-child {
  margin-bottom: 45px;
}

.reference {
  display: flex;
}

.submitRequest {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 3rem;
}

.form {
  margin-top: 10px;
}
.addReferanceIcon {
  width: 25px;
  height: 25px;
  border-radius: 6px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #705ccf !important;
  color: #fff !important;
  padding: 0 !important;
}
.addReferanceIcon svg {
  font-size: 15px !important;
}










.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formTitle {
  font-weight: 600;
  margin-bottom: 8px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lable {
  font-weight: 600;
  font-size: 12px;

  color: #686868;
}

.radioGroup {
  display: flex;
  gap: 16px;
}

.radioLabel {
  margin: 0 !important;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 8px 16px;
  flex: 1;
}
.radioLabel span:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.15px;
}

.achievedRadio {
  background-color: #e8f6e8;
  border-color: rgba(76, 175, 80, 0.5);
  color: #37a52d;
}

.notAchievedRadio {
  background-color: rgba(244, 67, 54, 0.1);
  border-color: rgba(244, 67, 54, 0.5);
  color: #ef3535;
}

.commentField textarea {
  text-transform: none !important;
}

.certificateNameField {
  margin-bottom: 8px;
}

.uploadContainer {
  margin-bottom: 16px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

.fileUploadContainer {
  position: relative;
  padding: 8px 0px;
  border-radius: 6px;
}

.uploadFile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}
.fileItemContent,
.fileItemContentText {
  max-width: calc(100% - 50px);
}

.addCertificateButton {
  background-color: #f3f1fa !important;
  color: #705ccf !important;
  width: 100% !important;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 25px 0px;
}
.noteHelper {
  font-weight: 500;
  font-size: 12px;
  text-transform: initial;
  color: #686868;
}
.noteHelper span {
  font-weight: 700;
}
