.container {
  border-radius: 8px;
  border: 1px solid #e8e9eb;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
}
.image {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f9;
  border-radius: 8px 8px 0 0; /* Top-left and top-right rounding */
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Top-left and top-right rounding */
}

.image .pdfIcon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.container h6 {
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  text-transform: capitalize;
  color: #272727;
  padding: 8px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
