.wedgetContener {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerContent {
  background: #fff;
  border-radius: 4px;
  padding: 8px;
}
.bodyContent {
  background: #fff;
  border-radius: 4px;
}

.pageWrapper {
  min-height: 100vh;
  max-height: 100%;
}

.aside,
.main {
  background-color: var(--light-0-color);
  height: 100%;
  overflow-y: auto;
}

.aside {
  position: fixed;
  height: 100%;
  width: 290px;
  z-index: 99;
  border-right: 1px solid var(--color-gray-1);
}

.main {
  min-height: 100%;
  width: calc(100% - 290px);
  -webkit-margin-start: auto;
  position: fixed;
  height: calc(100% - 2rem);
  right: 0;
  background: #f5f5f7;
}

.mainContent {
  margin: 10px;
}

@media screen and (min-width: 590px) {
  .aside {
    position: fixed;
    width: 20rem !important;
  }

  .main {
    width: calc(100% - 20rem) !important;
  }
}
