.breadcrumbs li a,
.breadcrumbs li span,
.breadcrumbs .pageName {
  color: #686868 !important;
}
.breadcrumbs li:nth-of-type(odd) {
  background: #fafafa;
  border-radius: 24px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
