.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
