.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* position:relative ; */
}
.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.headerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-align: center;
  gap: 0.5rem;
}
.progressControls {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.progressControlsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #f4f1fd;
  border-radius: 8px;
  padding: 8px;
}

.progressValue {
  margin: 0 12px;
  font-weight: 500;
  min-width: 50px;
  text-align: center;
  color: #272727;
}
.progressValue::after,
.progressValue::before {
  content: "";
  /* display: block; */
  height: 25px;
  width: 2px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 5px;
}
.progressValue::after {
  left: calc(50% - 35px);
}
.progressValue::before {
  right: calc(50% - 35px);
}
.controlButton {
  background-color: #f4f1fd !important;
  color: #705ccf !important;
  font-size: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.submitRequest {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 3rem;
}
.progressInput {
  width: 60px !important;
  margin: 0 7px !important;
}
.progressInput input {
  text-align: center;
  padding: 2px 4px !important;
}
.label {
  margin-bottom: 15px;
  color: #818181;
}
.disabled {
  color: #c0bec3 !important;
}
.commentField textarea {
  text-transform: none !important;
}
