.container h1 {
  font-weight: 700;
  font-size: 16px;
  color: #272727;
  margin-bottom: 10px;
}
.title {
  font-weight: 600;
  font-size: 16px;
  color: #272727;
  margin-bottom: 8px;
}
.date {
  font-weight: 500;
  font-size: 12px;
  color: #686868;
}
.activityContainer {
  margin-top: 10px;
}
